header {
  overflow: hidden;
  width: 100%;
  max-width: 1440px; /* Prevents excessive width */
  margin: 0 auto;
  img {
    width: 140%;
    height: auto;
    @media (min-width: 768px) {
      width: 120%;
    }
    @media (min-width: 1440px) {
      width: 100%;
    }
  }
}

html {
  scroll-padding-top: 130px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 56px;
  color: var(--black);
  padding: 40px 24px;
  max-width: 1440px;
  margin: 0 auto;
  h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }
  h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    margin-bottom: 24px;
  }
  h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
  }
  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }
  @media (min-width: 1440px) {
    box-sizing: border-box;
    padding: 80px;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas:
      "sidebar overview"
      "sidebar discover"
      "sidebar deliver";
    column-gap: 80px;
    #overview {
      grid-area: overview;
    }
    #discover {
      grid-area: discover;
    }
    #deliver {
      grid-area: deliver;
    }
    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
    }
    h4 {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
    }
    p {
      font-size: 16px;
    }
  }
  #overview {
    display: grid;
    gap: 40px;
    grid-template-rows: auto 1fr;
    #overview-details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h4:not(:first-child) {
        margin-top: 24px;
      }
      p:nth-last-child(1) {
        font-style: italic;
        font-weight: 300;
        margin-top: 24px;
      }
    }
    @media (min-width: 768px) {
      h2 {
        display: none;
      }
      grid-template-areas:
        "a b"
        "a c";
      gap: 80px;
      #overview-details {
        grid-area: a;
      }
      #goal {
        grid-area: b;
      }
      #prototype-link {
        grid-area: c;
        justify-self: start;
      }
    }
    @media (min-width: 1440px) {
      /* DIVIDER */
      padding-top: 32px;
      border-top: 2px solid var(--secondary);
    }
  }
  #discover {
    /* Divider */
    padding-top: 24px;
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
      margin: 0;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 8px;
      div {
        display: grid;
        place-items: center;
        color: var(--white);
        background-color: var(--primary-dark);
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        flex-shrink: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @media (min-width: 1440px) {
          width: 70px;
        }
      }
      p {
        border: 1px solid var(--primary-dark);
        border-radius: 16px;
        padding: 24px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
        @media (min-width: 1440px) {
          padding: 32px;
          font-size: 16px;
        }
      }
    }
    @media (min-width: 1440px) {
      padding-top: 32px;
    }
  }
  #deliver {
    display: flex;
    flex-direction: column;
    --deliver-gap: 40px;
    gap: var(--deliver-gap);
    /* Divider */
    padding-top: 24px;
    border-top: 2px solid var(--secondary);
    @media (min-width: 1440px) {
      padding-top: 32px;
      --deliver-gap: 80px;
    }
    #final-product {
      .images {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
      .group {
        display: grid;
        gap: 24px;
        justify-items: center;
        img {
          height: 234px;
        }
      }
      p {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: var(--white);
        width: 100%;
        max-width: 408px;
        height: max-content;
        box-sizing: border-box;
        text-align: center;
      }
      @media (min-width: 768px) {
        .images {
          gap: 64px;
        }
        .group {
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          gap: 34px;
          justify-items: space-between;
          img {
            height: 445px;
          }
          &:nth-child(even) p {
            order: -1;
          }
        }
      }
      @media (min-width: 1440px) {
        .images {
          align-items: flex-start;
        }
        .group p {
          min-width: 408px;
        }
      }
    }
    #prototype-link {
      align-self: center;
    }
  }
}
