header {
  overflow: hidden;
  width: 100%;
  max-width: 1440px; /* Prevents excessive width */
  margin: 0 auto;
  img {
    width: 140%;
    height: auto;
    @media (min-width: 768px) {
      width: 120%;
    }
    @media (min-width: 1440px) {
      width: 100%;
    }
  }
}

html {
  scroll-padding-top: 130px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 56px;
  color: var(--black);
  padding: 40px 24px;
  max-width: 1440px;
  margin: 0 auto;
  h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }
  h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }
  h4 {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
  }
  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
  }
  .list-item {
    display: list-item;
    margin-left: 2em;
    @media (min-width: 1440px) {
    }
  }
  .images {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .group {
      display: grid;
      gap: 24px;
      justify-items: center;
      img {
        max-width: 100%;
      }
    }
    p {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      background: var(--white);
      width: 100%;
      max-width: 408px;
      height: max-content;
      box-sizing: border-box;
      text-align: center;
    }
    @media (min-width: 768px) {
      gap: 64px;
      .group {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 34px;
        justify-items: space-between;
        &:nth-child(even) p {
          order: -1;
        }
      }
    }
    @media (min-width: 1440px) {
      align-items: flex-start;
      .group p {
        min-width: 408px;
      }
    }
  }

  @media (min-width: 1440px) {
    box-sizing: border-box;
    padding: 80px;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-areas:
      "sidebar overview"
      "sidebar discover"
      "sidebar define"
      "sidebar develop"
      "sidebar deliver";
    column-gap: 80px;
    row-gap: 120px;
    #overview {
      grid-area: overview;
    }
    #discover {
      grid-area: discover;
    }
    #define {
      grid-area: define;
    }
    #develop {
      grid-area: develop;
    }
    #deliver {
      grid-area: deliver;
    }
    h3 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
    }
    h4 {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
    }
    p {
      font-size: 16px;
    }
    > section {
      /* DIVIDER */
      padding-top: 32px;
      border-top: 2px solid var(--secondary);
    }
  }
  #overview {
    display: grid;
    gap: 40px;
    grid-template-rows: auto 1fr;
    .images {
      grid-column: 1/-1;
      /* Second image is single frame */
      .group:nth-child(2) img {
        max-width: 57%;
      }
    }
    #overview-details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h4:not(:first-child) {
        margin-top: 24px;
      }
      p:nth-last-child(1) {
        font-style: italic;
        font-weight: 300;
        margin-top: 24px;
      }
    }
    h3 {
      margin-bottom: 24px;
    }
    @media (min-width: 768px) {
      h2 {
        display: none;
      }
      grid-template-areas:
        "a b"
        "a c"
        "d d"
        "e e";
      gap: 80px;
      #overview-details {
        grid-area: a;
      }
      #problem {
        grid-area: b;
      }
      #solution {
        grid-area: c;
      }
      #carousel {
        grid-area: d;
      }
      #prototype-link {
        grid-area: e;
        align-self: center;
      }
    }
  }
  #discover {
    /* Divider */
    padding-top: 24px;
    border-top: 2px solid var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
      margin: 0;
    }
    #user-research {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    details {
      border-radius: 16px;
      background: var(--primary-dark);
      padding: 16px;
      color: var(--white);
      h4 {
        display: inline-block;
      }
      summary {
        user-select: none;
        cursor: pointer;
      }
      @media (min-width: 1440px) {
        padding: 24px;
      }
    }
    #design-drivers {
      margin-top: 16px;
      display: grid;
      gap: 24px;
      h3,
      > p {
        grid-column: 1/-1;
      }
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .driver {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .counter {
        display: grid;
        place-items: center;
        color: var(--white);
        background-color: var(--primary-dark);
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        flex-shrink: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @media (min-width: 1440px) {
          width: 70px;
        }
      }
      /* driver description block */
      .driver div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid var(--primary-dark);
        border-radius: 16px;
        padding: 24px;
        min-height: 100%;
        box-sizing: border-box;
        flex: 1;
        h4 {
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 24px */
        }
        p {
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          vertical-align: middle;
        }
        @media (min-width: 1440px) {
          padding: 32px;
          p,
          h4 {
            font-size: 16px;
          }
        }
      }
    }
    @media (min-width: 1440px) {
      padding-top: 32px;
    }
  }
  #define {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
    box-sizing: border-box;
    img {
      margin-top: 16px;
      max-width: 100%;
    }
    h3:not(:first-child) {
      margin-top: 40px;
    }
  }
  #develop {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3:not(:first-child) {
      margin-top: 40px;
    }
    img {
      max-height: 445px;
      max-width: 100%;
    }
    #wireframe-images {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
      img {
        margin: 0 auto;
      }
    }
    #user-testing {
      display: grid;
      row-gap: 40px;
      column-gap: 32px;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      > p:last-child {
        grid-column: 1/-1;
      }
    }
  }
  #deliver {
    display: flex;
    flex-direction: column;
    --deliver-gap: 40px;
    gap: var(--deliver-gap);
    /* Divider */
    padding-top: 24px;
    border-top: 2px solid var(--secondary);
    @media (min-width: 1440px) {
      padding-top: 32px;
      --deliver-gap: 80px;
    }
    #final-product {
      h3 {
        margin-bottom: 24px;
      }
      /* first image has only one frame */
      .group:first-child img {
        max-width: 37%;
      }
      p {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: var(--white);
        width: 100%;
        max-width: 408px;
        height: max-content;
        box-sizing: border-box;
        text-align: center;
      }
    }
    #key-takeaways {
      h3 {
        margin-bottom: 24px;
      }
    }
    #prototype-link {
      align-self: center;
    }
  }
}
