header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 24px;
  margin-top: 56px;
  margin-bottom: 64px;
  padding: 0 var(--padding-x);
  h1 {
    margin: 0;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--secondary);
  }
  p {
    margin: 0;
    max-width: 227px;
    text-align: center;
    font-size: var(--p-small-font-size);
    line-height: var(--p-small-line-height);
    font-weight: var(--p-x-large-font-weight);
    font-style: var(--p-small-font-style);
  }
  @media (min-width: 768px) {
    margin-top: 96px;
    margin-bottom: 152px;
    gap: 40px;
    h1 {
      font-size: 80px;
    }
    p {
      max-width: 770px;
      font-size: var(--p-x-large-font-size);
      line-height: var(--p-x-large-line-height);
      font-style: var(--p-x-large-font-style);
    }
  }
}

main {
  #selected-work {
    background-color: var(--primary-dark);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px var(--padding-x);
    h2 {
      grid-column: 1/-1;
      text-align: center;
      font-size: 20px;
      line-height: var(--p-x-large-line-height);
      font-weight: var(--p-x-large-font-weight);
      font-style: var(--p-x-large-font-style);
    }
    .project-preview {
      display: flex;
      flex-direction: column;
      gap: 16px;
      img {
        width: auto;
      }
      h3 {
        font-size: 16px;
        line-height: var(--p-x-large-line-height);
        font-weight: var(--p-x-large-font-weight);
        font-style: var(--p-x-large-font-style);
      }
      p {
        font-size: 12px;
      }
      &:hover {
        h3,
        p {
          color: var(--tertiary);
        }
      }
      section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 16px;
      }
    }
    .tags {
      display: flex;
      align-items: center;
      gap: 16px;
      .tag {
        display: flex;
        padding: 0 8px;
        border-radius: 16px;
        border: 1px solid var(--secondary);
      }
    }
    @media (min-width: 768px) {
      --grid-max-column-count: 2;
      --grid-min-column-width: 270px;
      --grid-gap: 72px;
      --grid-column-calc: calc(
        (100% - var(--grid-gap) * var(--grid-max-column-count)) /
          var(--grid-max-column-count)
      );
      --grid-min-column-calc: min(
        max(var(--grid-min-column-width), var(--grid-column-calc)),
        100%
      );
      gap: var(--grid-gap);
      padding-top: 80px;
      padding-bottom: 80px;
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(var(--grid-min-column-calc), 1fr)
      );
      h2 {
        font-size: 40px;
        line-height: 110%;
      }
      .project-preview h3 {
        font-size: var(--p-x-large-font-size);
      }
      .project-preview p {
        font-size: var(--p-regular-font-size);
      }
    }
    @media (min-width: 1920px) {
      --grid-max-column-count: 3;
    }
  }
  #about {
    display: grid;
    padding: 64px var(--padding-x);
    gap: 40px;
    justify-items: center;
    h2 {
      grid-column: 1/-1;
      font-size: 20px;
      font-weight: 700;
      line-height: 110%;
    }
    p {
      font-size: 12px;
      max-width: 270px;
    }
    @media (min-width: 768px) {
      gap: 80px;
      padding-top: 152px;
      padding-bottom: 152px;
      h2 {
        font-size: 40px;
        line-height: 110%;
      }
      p {
        max-width: 600px;
        font-size: var(--p-regular-font-size);
      }
    }
    @media (min-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      img {
        justify-self: flex-end;
      }
      p {
        justify-self: flex-start;
      }
    }
  }
}

footer {
  background-color: var(--primary-dark);
  padding: 40px;
  color: var(--white);
  h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 40px;
  }
  .contact-info {
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    p,
    a {
      display: flex;
      gap: 8px;
      align-items: center;
      max-width: 230px;
      font-size: 12px;
    }
    p {
      text-align: center;
    }
    a:hover {
      color: var(--tertiary);
    }
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  @media (min-width: 768px) {
    padding: 80px;
    h2 {
      font-size: 40px;
      line-height: 110%;
      margin-bottom: 80px;
    }
    .contact-info {
      p,
      a {
        font-size: 20px;
        max-width: 449px;
      }
      p {
        text-align: left;
      }
    }
    .contact-links {
      gap: 24px;
    }
  }
  @media (min-width: 1440px) {
    .contact-info {
      gap: 168px;
    }
  }
}
