@font-face {
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Luckiest_Guy/LuckiestGuy-Regular-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-LightItalic-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-Light-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold-subset-en-fi.woff2)
    format("woff2");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold-subset-en-fi.woff2)
    format("woff2");
}
