nav {
  position: sticky;
  top: 0;
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  padding: 16px var(--padding-x);
  gap: 8px;
  > a:first-child {
    margin-right: auto;
    img {
      width: 50px;
      height: 50px;
      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
      }
    }
  }
  a:not(:first-child) {
    padding: 8px;
    font-size: var(--p-small-font-size);
    &:hover {
      color: var(--tertiary);
    }
    @media (min-width: 768px) {
      font-size: var(--p-x-large-font-size);
    }
  }
  @media (min-width: 1440px) {
    gap: 80px;
  }
}
